\#*
*~
Project Documentation/
References/
STATS331/
Thesis/Compiled/
.vscode
Presentations/
*.xlsx
*.pdf
*.docx
Thesis/Temp/*
*.pdf
*.tex
.llm_env/*
__pycache__
~/PhD-Windows//BNs/ShinyReact-main/*
~/PhD-Windows/LLM/models/*
*.tmp
*.AppImage
*.tar.gz
BNs/ShinyReact-main/*
LLM/models/*
Overleaf Projects/*
PhD-Windows/LLM/models/*
*.DS_Store
*.zip
*.csv
*.accdb
*.txt
*.rtf
*.pptx
*.json
*.png
*.bib
Agent_system/src/scripts/run_semantic_scholar_search.py
Agent_system/config/.env.template
Agent_system/config/.env
Agent_system/data/models/gemma4:latest
Agent_system/data/models/ITER-Qwen3-Embedding-0.6B.Q8_0.gguf
Agent_system/info/Generative Artificial Intelligence in Doctoral Research Guidelines – University of Auckland.mhtml
Agent_system/info/Initial_setup_reqs.yaml
