\#*
*~
Project Documentation/
References/
STATS331/
Thesis/Compiled/
.vscode
Presentations/
*.xlsx
*.pdf
*.docx
Thesis/Temp/*
*.pdf
*.tex
.llm_env/*
__pycache__
~/PhD-Windows//BNs/ShinyReact-main/*
~/PhD-Windows/LLM/models/*
*.tmp
*.AppImage
*.tar.gz
BNs/ShinyReact-main/*
LLM/models/*
Overleaf Projects/*
PhD-Windows/LLM/models/*
*.DS_Store
*.zip
*.csv
*.accdb
*.txt
*.rtf
*.pptx
